:root {
    --brand-clr: #fd9222;
    --primary-clr: #111111;
    --secondary-clr: #FFFFFF;
    --btn-secondary-clr: #FCF1E0;
    --bgd-clr: #1E1823;
    --bgd-body-clr:#E2E2E2;;
    --backdrop-clr: rgba(30, 24, 35, 0.35);    
}